---
layout: layout.njk
seo: 
  title: Cui-Cui
  description: "Association Cui-Cui : des fanzines, des ateliers et des animations pour explorer la diversité du vivant en Bretagne."
introBlock: |
  Racontons des histoires de vivants.
  Faisons résonner la voix des autres vivants, non-humains, avec lesquels nous cohabitons.

  Par des fanzines, des ateliers et des animations, nous vous invitons à découvrir et à comprendre la diversité des vivants, leurs interactions, leurs curiosités et leurs fragilités.
blocks:
  - menuTitle: « Cui-Cui »
    title: « Cui-Cui »
    body: |
      c’est un fanzine saisonnier d’exploration du vivant.

      « Cui-Cui » ce sont des histoires de non-humains racontées par des humains.

      C’est de la poésie, du conte, des nouvelles et des portraits pour explorer des paysages et découvrir les animaux et végétaux avec qui nous cohabitons sur le territoire breton.

      <br/>
      <img class="fanzine-medaillon" src="/images/cuicui-1.jpg"/>
      <h3 class="align-center">« Cui-Cui » #1 édition printemps</h3>

      <div class="align-center">Mai 2023 • 36 pages • 8 €</div>

      Les contributeurs et contributrices : Atelier McClane • Aurore Chapon • Charline Birault Souchez • Timothée Cantard • Florine Gouget • Xavier Jouppe • Marine Litou • Anaïs Rallo • Morgane Roglianti

      Co-édité par [Printemps Bruyant](https://instagram.com/printempsbruyant).

      <div class="center button">
        <div>
          <a class="dont-style" href="https://www.helloasso.com/associations/faonzine-edition/boutiques/cui-cui-2-edition-hiver">
            ☞ Commander Cui-Cui
          </a>
        </div>
      </div>

      <br/>
      <img class="fanzine-medaillon" src="/images/cuicui-2.jpg"/>
      <h3 class="align-center">« Cui-Cui » #2 édition hiver</h3>

      <div class="align-center">Novembre 2023 • 36 pages • 8 €</div>

      Les contributeur·rices : Atelier McClane • Charline Birault-Souchez • Timothée Cantard • Jérémie Chapelain • Aurore Chapon • Sophie Courge • Adeline Faye • Marta Gennari • Xavier Jouppe • Léna Mazilu • Marine Litou • Amélie Pfab • Pipidae • Anaïs Rallo • Morgane Roglianti • Juliette Thomas
      
      <div class="center button">
        <div>
          <a class="dont-style" href="https://www.helloasso.com/associations/faonzine-edition/boutiques/cui-cui-2-edition-hiver">
            ☞ Commander Cui-Cui
          </a>
        </div>
      </div>
  - menuTitle: Projets
    title: Les projets
    body: <br/>
    blocksWithImg:
      - body: |
          **« Fanzines »**
          
          Raconter la diversité du vivant non-humain par la réalisation de fanzines croisant des approches scientifiques, poétique et graphiques.
        img: fanzines.png
      - body: |
          **« Ateliers et animations »**

          Créer des manières de voir et de comprendre la diversité du vivant par des expériences immersives et ludiques : animations naturalistes, jeux, ateliers d’écriture, ateliers graphiques…
        img: ateliers.jpg
      - body: |
          **« Abécédaire sauvage »**
          
          Documenter la faune et la flore sauvage et la révéler de manière pédagogique et créative.
        img: abecedaire.png
  - menuTitle: Qui sommes-nous ?
    title: Cui-Cui
    body: |
      est une association qui agit pour la sensibilisation à la diversité du vivant et à sa préservation en croisant les approches scientifiques et artistiques.

      L’association regroupe des naturalistes, artistes et auteurs et autrices. Elle est coordonnée par :
    blocksWithImg:
      - body: |
          **Timothée Cantard**, après un parcours en sciences politiques et géographie, il se forme à l’inventaire de la faune et de la flore. En parallèle de son travail d’écologue, il réalise des activités de médiation scientifique et d’enseignement en Bretagne. En tant qu’auteur, il travaille principalement autour de la poésie pour décortiquer et romancer les curiosités du vivant.
        img: timot.jpg
      - body: |
          **Marine Litou**, chargée d’études environnement en agence d’urbanisme, elle est diplômée en sciences politiques et en aménagement du territoire. Pour en connaître davantage sur les espèces et leurs habitats, elle réalise une formation en gestion et protection de la nature. Elle organise des animations dans diverses associations à Rennes pour sensibiliser à la beauté du vivant. 
        img: marine.png 
  - menuTitle: Nous contacter
    title: Nous contacter
    body: | 
      </br>
    
      Pour en savoir plus sur l’association, sur nos activités ou pour imaginer des collaborations, [écrivez-nous sur cuicuiasso@ecomail.fr](mailto:cuicuiasso@ecomail.fr).

      Envie de vous impliquer dans l’association ? Pour adhérer, [ça se passe ici](https://www.helloasso.com/associations/faonzine-edition/adhesions/adhesion-faon-zine-edition-1).
---

<div class="paragraphs">
  <div class="paragraph">
    <div class="text-container">
      {% markdown introBlock %}
      <div class="img-separator">
        {% include "_partials/martinets.html" %}
      </div>
    </div>
  </div>
  {%- for post in blocks -%}
    <div class="paragraph">
      <div class="text-container">
        <h2 id="{{ post.menuTitle | defaultStr | slugify }}" class="inlined-title">{{ post.title }}</h2>
        {% markdown post.body %}
        {% if post.blocksWithImg %}
          {%- for postWithImg in post.blocksWithImg -%}
            <div class="img-block">
              <div>{% markdown postWithImg.body %}
              </div>
              <div class="img-container"><img src="/images/{{ postWithImg.img }}"/>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if post.separator %}
          <div class="img-separator">
            {% include post.separator %}
          </div>
        {% endif %}
      </div>
    </div>
  {%- endfor -%}
</div>
